<% provide :head_tags do %>
  <script>
      document.addEventListener("DOMContentLoaded", function(){
          initMap(<%= @waypoints.to_json.html_safe %>);
      });
  </script>
<% end %>

<div id="map"></div>
