<div id="map-view">
  <map-view></map-view>
</div>

<!--<div>-->
  <!--Le portable de Quentin gît au fond de l'eau. Ne vous vexez pas s'il tarde à répondre.-->
  <!--Et vous pouvez toujours le joindre sur son mail: <b>prénom.nom@gmail.com</b>-->
<!--</div>-->

<%= javascript_pack_tag 'waypoints/map'%>