<% provide :head_tags do %>
    <script>
    document.addEventListener("DOMContentLoaded", function(){
        var lastPositions = <%= last_positions_js %>]
        initMap(lastPositions);
    });
    </script>
<% end %>

<h1>Route</h1>
<p>This is our route</p>
<p>
    <div id="map"></div>
</p>
